doctype html
html
	head
		title 注册
		meta(http-equiv="Content-Type",content="text/html; charset=utf-8")

		include ../includes/libs.jade
	body
		div.background_div
		//- .step_index
		//- 	.paces
		//- 	.paces_down
		//- 	.paces_points
		//- 		.paces_point1.paces_point
		//- 		.paces_point2.paces_point
		//- 		.paces_point3.paces_point
		//- 		.paces_point4.paces_point
		.signin_box.signin_box_base
			//- .signin_logo
				i.iconfont.signin_logo_i &#xe600;
			.signin_title
				span 用户注册
				span.to_signin_box 已有账号? 请
					a(href="/signin") 登陆
			//- form(method="POST", action="javascript:void(0)")
			form(method="POST", action="/signup",id='signin_form')
				.signin_input
					.l_input_div
						input.l_input.form-control#username(type="text",name="user[username]",placeholder="")
						label.l_label 用户名
						span.l_span 请输入用户名
					.l_input_div
						input.l_input.form-control#pwd(type="password",name="user[pwd]",placeholder="")
						label.l_label 密码
						span.l_span 请输入密码
					.l_input_div
						input.l_input.form-control#pwd2(type="password",placeholder="")
						label.l_label 密码
						span.l_span 请再次输入密码
				.signup_button
					a.button.button-primary#signup_form_submint_button(href="javascript:signin_up.signup()") 下一步
	script.
		$(document).ready(function() {
			$(this).keydown(function(event){
				if(event.keyCode==13){
					document.getElementById('signup_form_submint_button').click()
				}
			});
		})