h2.main_hd_notap 角色管理
//- .title_tab
	ul.tab_navs
		li.tab_nav.first.select
			a 角色管理
		//- li.tab_nav
			a 后台栏目
.inner_body#inner_box
	.edit_role_box
		.role_box
			span.menu_title_tab 角色编辑
				span.column_icon_span
					i.iconfont.hover_primary.default_color.add_role_modal.icon-class-add
						//- (data-toggle="modal" data-target=".au_auth")
					i.iconfont.hover_warning.default_color.icon-class-tuodong1
			#role_au_container_box
				include ./list.jade
	.edit_auths_box
		.auths_box
			span.menu_title_tab 角色所拥有权限
				//- span.column_icon_span
					//- span.hide_datas#au_auth_hide_datas(data-para-mid='57061bb4bbc48b3f0aade88b')
					//- i.iconfont.hover_primary.default_color.add_auth_modal.icon-class-add
						//- (data-toggle="modal" data-target=".au_menu")
					//- i.iconfont.hover_warning.default_color.icon-class-tuodong1
			#role_auths_container_box
				//- include ./auths.jade