@import "./include/theme.less";
@import "./include/main.less";

.body-menus-count{
//    border: solid red 1px;
    min-height: 400px;
    
    margin-top: 14px;
    padding: 0 30px 30px;
    
    .au-role-count,.au-menu-count{
        display: table-cell;
//        min-height: 
    }
    .au-menu-count{
        border: solid @line-color-light 1px;
        min-height: 600px;
        .imenu();
        margin-top: 0px;
        margin-bottom: 0px;
        width: 320px;
        .menu-box{
            .menu{
                .menu-title{
                    padding-left: 20px;
                }
                .menu-item{
                    .item-cont{
                        padding-left: 48px;
                    }
                }
            }
        }
    }
    .menu-tools-cont {
        float: right;
        line-height: 34px;
        height: 34px;
        padding-right: 20px;
        a{
            color: @font-color-light;
        }
        .menu-tools-box {
            display: inline-block;
            padding-left: 8px;
        }
    }
    
    
    .au-role-count{
        border: solid @line-color-light 1px;
        border-left: 0px;
        width: 700px;
    }
    
//<div class="au-role-box">
//    <a href="" class="role-text">
//        <i class="icon icon-add role-icon"></i>
//        添加
//    </a>
//    <a href="" class="role-code">user:add</a>
//    <a class="role-info">用户添加权限</a>
//    <span class="menu-tools-cont">
//        <a href="">
//            <i class="icon icon-edit hover-warning"></i>
//        </a>
//        <a href="">
//            <i class="icon icon-grip hover-warning"></i>
//        </a>
//    </span>
//</div>    
    
    .au-role-box{
        height: 35px;
        line-height: 35px;
        padding-left: 20px;
        border-bottom: solid @line-color-light 1px;
        .role-icon{
            margin-right: 10px;
        }
        .role-text,.role-code,.role-info{
            display: inline-block;
            
        }
        .role-text{
            min-width: 150px;
        }
        .role-code{
            min-width: 100px;
            color: @font-color-deep;
        }
        .role-info{
            color: @font-color-light;
            
        }
        .menu-tools-cont{
            a{
                padding-left: 8px;
            }
        }
    }
}