html
	head
		title= pageName
	body
		include ./header.jade
		h2 #{onlineUser}
		ol#books
			for user in users
				//- if user.available
				li #{user.userName} for #{user.pwd} €
		include ./footer.jade