/**
 * 用于抽取,全局中公用样式的文件
 *
 */
body {
    line-height: 1.5;
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
    color: @font-color-default;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    background-color: @base-bg-color;
}

//字体阴影效果
.text-shadow(@x:0,@y:0,@blur:3px,@color:#ccc){
	text-shadow:@x @y @blur @color;
}
//边框阴影效果
.box-shadow(@x:0,@y:0,@blur:7px,@spread:1px,@color:#888){  
	-webkit-box-shadow:@x @y @blur @spread @color;
	-moz-box-shadow:@x @y @blur @spread @color;
	box-shadow:@x @y @blur @spread @color;
}
//内边框阴影效果
.box-shadow(inset,@x:0,@y:0,@blur:7px,@spread:1px,@color:#888){  
	-webkit-box-shadow:@x @y @blur @spread @color inset;
	-moz-box-shadow:@x @y @blur @spread @color inset;
	box-shadow:@x @y @blur @spread @color inset;
}
//定义透明度
.opacity(@val1:60,@val2:0.6){
	filter:alpha(opacity=@val1);  /* ie 有效*/
	-moz-opacity:@val2; /* Firefox  有效*/
	opacity: @val2; /* 通用，其他浏览器  有效*/
}
//毛玻璃处理
.blur(@blur_size:10px){   
	-webkit-filter: blur(@blur_size);
	-moz-filter: blur(@blur_size);
	-ms-filter: blur(@blur_size);
	filter: blur(@blur_size);
}
// 定义过度效果的样式
.transition{
	transition: all 600ms ease;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
}

//获得鼠标字体样式改变的方法的定义 start------------------------
.light-color{
    color: @font-color-light;
}
.hover-default{
	.transition;
	.opacity();
	&:hover{
		.opacity(100,1);
		.text-shadow();
	}
	&:active{
		.opacity(50,0.5);
		.text-shadow();
	}
}
// .text-shadow(@x:0,@y:0,@blur:3px,@color:#ccc){
.hover-danger{
	&:hover{
		color:#ff7473;
		.text-shadow(0px, 0px, 3px, #ff7473);
	}
}
.hover-warning{
	&:hover{
		color:#ffc952;
		.text-shadow(0px, 0px, 3px, #ffc952);
	}
}
.hover-primary{
	&:hover{
		color:#47b8e0;
		.text-shadow(0px, 0px, 3px, #47b8e0);
	}
}
.hover-success{
	&:hover{
		color:#5cb85c;
		.text-shadow(0px, 0px, 3px, #5cb85c);
	}
}


//栏目的样式统一定义
.imenu(){
    margin-top: 13px;
    margin-bottom: 150px;
    .menu-box{
        border-top: solid @line-color-light 1px;
//        margin-bottom: 0px;
        padding: 6px 0px;
        &:first-child{
            border-top: 0px;
        }
        .menu{
            .menu-title,.menu-item{
                .menu-tools{
                    line-height: 33px;
                    height: 33px;
                    float: right;
                    margin-right: 20px;
                    .icon{
                        padding-left: 4px;
                    }
                }
            }
            .menu-title{
                font-weight: 500;
                padding: 0px 0px 0px 30px;
                height: 34px;
                line-height: 34px;
                color: @font-color-light;
                .menu-icon,.title-cont{
                    vertical-align: middle;
                    display: inline-block;
                }
                .menu-icon{
                    font-size: 22px;
                    margin-right: 7px;
                }
                .title-cont{
                    
                }
            }
            .menu-item{
                .item-cont,.menu-tools{
                    display: inline-block;
                }
                .item-cont{
                    height: 34px;
                    line-height: 34px;
                    padding-left: 58px;
                    text-decoration: none;
                    color: @font-color-deep;
                }
                &:hover{
                    background-color: @base-activ-bg-color;
                }
            }
            .activ{
                background-color: @base-activ-bg-color;
            }
        }
    }   
}



//<div class="beaut-form-box has-error">
//    <label for="username" class="control-label">用户名</label>
//    <input id="username" type="text" name="username" class="form-control" id="" placeholder="请输入用户名">
//    <label for="username" class="error-msg-label">错误提示信息</label>
//</div>
//输入框域块样式开始
.beaut-form-box{
    label{
        margin-bottom: 0px;
        font-weight: 500;
    }
    .control-label{
        position: absolute;
        padding: 3px 10px;
        margin-top: 4px;
        margin-left: 5px;
        background-color: #fff;
        .transition;
//        &:checked{
//            margin-top: -22px;
//        }
    }
    
    .active{
        margin-top: -20px;
    }
    
    .error-msg-label {
        padding: 5px 0px 5px 15px;
    }
}

.form-box{
//    margin-bottom: 15px;
    
    label{
        margin-bottom: 0px;
        font-weight: 500;
    }
    
    .control-label{
        padding-right: 15px;
    }
    
    .active{
        margin-top: -20px;
    }
    
    .error-msg-label {
        padding: 5px 0px 5px 15px;
    }
}

.has-error{
    .error-msg-label{
        color: @base-error-font-color;
    }
}



//登录注册页面输入框样式统一定义
.input_container{ //整个块最外层包裹块样式
    width:100%;
    margin-bottom:15px;
    .form-control{ //输入框样式定义
        width:100%;
        display:block;
        height:20px;
        padding:6px 0;
        text-indent:1em;
    }
    .input_placeholder{ //输入框内提示文字样式定义
        position:relative;
        top:-27px;
        left:5px;
    }
    .input_message{ //输入框下部提示文字样式定义
        display:block;
        color:#bebebe;
        margin-top:-12px;
        padding-left:14px;
    }
}
//表单提交按钮样式统一定义
.input_button{
    width:142px;
    height:36px;
    font-size:14px;
}


