/**
 * 用于重写bootstrap
 * 原始标签样式的文件
 */

//页面元素样式重写
//a标签重写
a,
a:link,
a:hover,
a:active,
a:visited {
    color: @font-color-default;
    text-decoration: none;
    cursor: pointer;
}

dl {
    margin-bottom: 0px;
}

//bootstrap样式重写
//弹出框重写
.popover {
    padding: 0px;
    border-radius: 0px;
    max-width: 600px;
}

//弹出框内容样式重写
.popover-content {
    padding: 0px 0px;
}

//输入框的样式重写
.form-control {
    border-radius: 0px;
    // .transition;
    &:focus {
        border: solid #666 1px;
        .box-shadow();
    }
}

//修改has-error代码块边框的颜色
.has-error .form-control {
    border-color: @base-error-border-color;
    &:focus {
        border: solid @base-error-border-color 1px;
        .box-shadow(0px, 0px, 4px, 1px, @base-error-box-shadow-color);
        // .box_shadow();
    }
}

//修改has-error代码块的文字颜色
.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label {
    color: @base-error-font-color;
}

//去除form-group的margin值
//目前为止不能理解为什么要这样处理
.form-group {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

//去除form库中的formgroup的样式
.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

//去除所有响应式布局的边框padding值,同样不能理解为什么要这样处理
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    padding-right: 0px;
    padding-left: 0px;
}