@import url(../include/theme.less);
@import url(../include/main.less);
@import url(../include/reset.less);

.background_layer{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    min-height:700px;
    background:url("http://10.23.2.229:8899/img/signin.jpg") no-repeat;
    background-size:cover;
    overflow:hidden;
    filter:blur(5px);
    -webkit-filter:blur(5px);
}
.sign_box{
    position:absolute;
    top:@sign_boxtop;
    left:0;
    right:0;
    display:block;
    margin:auto;
    background-color:@sign_box_basecolor;
    padding:20px 30px;
}
.sign_window{
    width:@sign_box_width;
    height:@sign_box_height;
    border:1px solid #666;
    box-shadow:0 0 10px #adadad;
    -webkit-box-shadow:0 0 10px #adadad;
    .signin_logo{
        width:@logo-size;
        height:@logo-size;
        margin:20px auto;
        .icon{
            font-size:@logo-size;
            line-height:@logo-size;
            color:#000;
        }
    }
    .sign_title{
        height:20px;
        margin-bottom:20px;
        .to_signin{
            float:right;
            color:#aaa;
            a{
                text-decoration:none;
                color:#337ab7;
            }
        }
    }
    form{
        width:100%;
        .sign_input_div{
            .input_container;
            .box_tips{
                .input_placeholder;
            }
            .message{
                .input_message;
            }
        }
        .sign_bottom{
            .input_button;
            margin:30px auto;
        }
    }
}
