<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 设置映射的dao类 -->
<mapper namespace="com.bcdbook.summer.system.dao.MenuDao">
	<!-- 设置映射的数据模型 -->
	<resultMap id="Menu" type="com.bcdbook.summer.system.pojo.Menu">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="del_flag" property="delFlag" jdbcType="INTEGER" />
		<result column="parent_id" property="parentId" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="href" property="href" jdbcType="VARCHAR" />
		<result column="target" property="target" jdbcType="VARCHAR" />
		<result column="icon" property="icon" jdbcType="VARCHAR" />
		<result column="sort" property="sort" jdbcType="INTEGER" />
		<result column="permission" property="permission" jdbcType="VARCHAR" />
		<result column="is_show" property="isShow" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 定义查询的所有参数 -->
	<sql id="Base_Column_List">
		id, name, description
	</sql>
	<insert id="insert" parameterType="com.bcdbook.summer.system.pojo.Menu">
		insert into t_menu (id,name, description)
		values (#{id,jdbcType=INTEGER},
		#{name,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR})
	</insert>
	<select id="get" resultMap="Menu" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from sys_menu
		where id = #{id,jdbcType=VARCHAR}
	</select>
	
	<select id="get2" resultMap="Menu" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sys_menu
		where id like '%' #{id} '%'
	</select>
	
</mapper>