<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 设置映射的dao类 -->
<mapper namespace="com.bcdbook.summer.system.dao.MessageDao">
	<!-- 设置映射的数据模型 -->
	<resultMap id="Message" type="com.bcdbook.summer.system.pojo.Message">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="del_flag" property="delFlag" jdbcType="INTEGER" />
		
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="msg_from" property="msgFrom" jdbcType="VARCHAR" />
		<result column="msg_to" property="msgTo" jdbcType="VARCHAR" />
		<result column="read_type" property="readType" jdbcType="INTEGER" />
		
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 定义查询的所有参数 -->
	<sql id="MessageColumns">
		id, del_flag, title, content, msg_from, msg_to, read_type, create_time, create_by, update_time, update_by, remark
	</sql>
	
	<insert id="insert" useGeneratedKeys="false" keyProperty="id" parameterType="com.bcdbook.summer.system.pojo.Message">
		insert into sys_message (id, del_flag, title, content, msg_from, msg_to, read_type, create_time, create_by, update_time, update_by, remark)
		values (
			#{id,jdbcType=VARCHAR},
			#{delFlag,jdbcType=INTEGER},
			#{title,jdbcType=VARCHAR},
			#{content,jdbcType=VARCHAR},
			#{msgFrom,jdbcType=VARCHAR},
			#{msgTo,jdbcType=VARCHAR},
			#{readType,jdbcType=INTEGER},
			#{createTime,jdbcType=VARCHAR},
			#{createBy,jdbcType=VARCHAR},
			#{updateTime,jdbcType=VARCHAR},
			#{updateBy,jdbcType=VARCHAR},
			#{remark,jdbcType=VARCHAR}
		)
	</insert>
	
	<select id="get" resultMap="Message" parameterType="java.lang.String">
		select
		<include refid="MessageColumns" />
		from sys_power
		where id = #{id,jdbcType=VARCHAR}
		and del_flag = 1
	</select>
	
	<select id="getByCondition" resultMap="Message" parameterType="com.bcdbook.summer.system.pojo.Message">
		select
		<include refid="MessageColumns" />
		from sys_power
		<where>
	    	<if test="id != null and !&quot;&quot;.equals(id.trim())">
		    	and id = #{id}
		    </if>
		    <if test="1==1">
		    	and del_flag = 1
		    </if>
		    <if test="menuId != null and !&quot;&quot;.equals(menuId.trim())">
		    	and menu_id = #{parentId}
		    </if>
		    <if test="name != null and !&quot;&quot;.equals(name.trim())">
		    	and name = #{name}
		    </if>
		    <if test="description != null and !&quot;&quot;.equals(description.trim())">
		    	and description = #{description}
		    </if>
		    <if test="icon != null and !&quot;&quot;.equals(icon.trim())">
		    	and icon = #{icon}
		    </if>
		    <if test="sort != null and sort != 0">
		    	and sort = #{sort}
		    </if>
		    <if test="permission != null and !&quot;&quot;.equals(permission.trim())">
		    	and permission = #{permission}
		    </if>
		    <if test="isShow != null and isShow != 0">
		    	and is_show = #{isShow}
		    </if>
		    <if test="createTime != null and !&quot;&quot;.equals(createTime.trim())">
		    	and create_time = #{createTime}
		    </if>
		    <if test="createBy != null and !&quot;&quot;.equals(createBy.trim())">
		    	and create_by = #{createBy}
		    </if>
		    <if test="updateTime != null and !&quot;&quot;.equals(updateTime.trim())">
		    	and update_time = #{updateTime}
		    </if>
		    <if test="updateBy != null and !&quot;&quot;.equals(updateBy.trim())">
		    	and update_by = #{updateBy}
		    </if>
		    <if test="remark != null and !&quot;&quot;.equals(remark.trim())">
		    	and remark = #{remark}
		    </if>
	    </where>
	</select>
</mapper>