<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 设置映射的dao类 -->
<mapper namespace="com.bcdbook.summer.system.dao.MenuDao">
	<!-- 设置映射的数据模型 -->
	<!-- 默认的数据模型 -->
	<resultMap id="Menu" type="com.bcdbook.summer.system.pojo.Menu">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="del_flag" property="delFlag" jdbcType="INTEGER" />
		
		<result column="place" property="place" jdbcType="INTEGER" />
		<result column="parent_id" property="parentId" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="href" property="href" jdbcType="VARCHAR" />
		<result column="target" property="target" jdbcType="VARCHAR" />
		<result column="icon" property="icon" jdbcType="VARCHAR" />
		<result column="sort" property="sort" jdbcType="INTEGER" />
		<result column="permission" property="permission" jdbcType="VARCHAR" />
		<result column="is_show" property="isShow" jdbcType="INTEGER" />
		
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		
		<collection column="id" property="childs" select="listChilds" />
		<collection column="id" property="powers" select="listPowers" />
	</resultMap>

	<!-- 定义查询的所有参数 -->
	<sql id="MenuColumns">
		id, del_flag,
		place,parent_id, name, description, href, target, icon, sort, permission, is_show,
		create_time, create_by, update_time, update_by, remark
	</sql>
	<!-- 定义所有的查询条件 -->
	<sql id="MenuCondition">
		<where>
	    	<if test="id != null and !&quot;&quot;.equals(id.trim())">
		    	and id = #{id}
		    </if>
		    <if test="true">
		    	and del_flag = 1
		    </if>
		     
		    <if test="place != null and place != 0">
		    	and place = #{place}
		    </if>
		    <if test="parentId != null and !&quot;&quot;.equals(parentId.trim())">
		    	and parent_id = #{parentId}
		    </if>
		    <if test="name != null and !&quot;&quot;.equals(name.trim())">
		    	and name = #{name}
		    </if>
		    <if test="description != null and !&quot;&quot;.equals(description.trim())">
		    	and description = #{description}
		    </if>
		    <if test="href != null and !&quot;&quot;.equals(href.trim())">
		    	and href = #{href}
		    </if>
		    <if test="target != null and !&quot;&quot;.equals(target.trim())">
		    	and target = #{target}
		    </if>
		    <if test="icon != null and !&quot;&quot;.equals(icon.trim())">
		    	and icon = #{icon}
		    </if>
		    <if test="sort != null and sort != 0">
		    	and sort = #{sort}
		    </if>
		    <if test="permission != null and !&quot;&quot;.equals(permission.trim())">
		    	and permission = #{permission}
		    </if>
		    <if test="isShow != null and isShow != 0">
		    	and is_show = #{isShow}
		    </if>
		    
		    <if test="createTime != null and !&quot;&quot;.equals(createTime.trim())">
		    	and create_time = #{createTime}
		    </if>
		    <if test="createBy != null and !&quot;&quot;.equals(createBy.trim())">
		    	and create_by = #{createBy}
		    </if>
		    <if test="updateTime != null and !&quot;&quot;.equals(updateTime.trim())">
		    	and update_time = #{updateTime}
		    </if>
		    <if test="updateBy != null and !&quot;&quot;.equals(updateBy.trim())">
		    	and update_by = #{updateBy}
		    </if>
		    <if test="remark != null and !&quot;&quot;.equals(remark.trim())">
		    	and remark = #{remark}
		    </if>
	    </where>
	</sql>
	
	<!-- 插入语句 -->
	<insert id="insert" useGeneratedKeys="false" keyProperty="id" parameterType="com.bcdbook.summer.system.pojo.Menu">
		insert into sys_menu (id, del_flag,place, parent_id, name, description, href, target, icon, sort, permission, is_show, create_time, create_by, update_time, update_by, remark)
		values (
			#{id,jdbcType=VARCHAR},
			#{delFlag,jdbcType=INTEGER},
			
			#{place,jdbcType=INTEGER},
			#{parentId,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			#{description,jdbcType=VARCHAR},
			#{href,jdbcType=VARCHAR},
			#{target,jdbcType=VARCHAR},
			#{icon,jdbcType=VARCHAR},
			#{sort,jdbcType=INTEGER},
			#{permission,jdbcType=VARCHAR},
			#{isShow,jdbcType=INTEGER},
			
			#{createTime,jdbcType=VARCHAR},
			#{createBy,jdbcType=VARCHAR},
			#{updateTime,jdbcType=VARCHAR},
			#{updateBy,jdbcType=VARCHAR},
			#{remark,jdbcType=VARCHAR}
		)
	</insert>
	
	<!-- 伪删除(根据id) -->
	<update id="delete" parameterType="java.lang.String">
		update sys_menu
		<set>
			del_flag = 2
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<!-- 伪删除(根据实体类条件) -->
	<update id="deleteByCondition" parameterType="com.bcdbook.summer.system.pojo.Menu">
		update sys_menu
		<set>
			del_flag = 2
		</set>
		<include refid="MenuCondition" />
	</update>
	
	<!-- 修改栏目 -->
	<update id="update" parameterType="com.bcdbook.summer.system.pojo.Menu">
		update sys_menu
		<set>
		    <if test="delFlag != null and delFlag != 0">
		    	del_flag = #{delFlag},
		    </if>
		    
		    <if test="place != null and place != 0">
		    	place = #{place},
		    </if>
		    <if test="parentId != null and !&quot;&quot;.equals(parentId.trim())">
		    	parent_id = #{parentId},
		    </if>
		    <if test="name != null and !&quot;&quot;.equals(name.trim())">
		    	name = #{name},
		    </if>
		    <if test="description != null and !&quot;&quot;.equals(description.trim())">
		    	description = #{description},
		    </if>
		    <if test="href != null and !&quot;&quot;.equals(href.trim())">
		    	and href = #{href}
		    </if>
		    <if test="target != null and !&quot;&quot;.equals(target.trim())">
		    	and target = #{target}
		    </if>
		    <if test="icon != null and !&quot;&quot;.equals(icon.trim())">
		    	icon = #{icon},
		    </if>
		    <if test="sort != null and sort != 0">
		    	sort = #{sort},
		    </if>
		    <if test="permission != null and !&quot;&quot;.equals(permission.trim())">
		    	permission = #{permission},
		    </if>
		    <if test="isShow != null and isShow != 0">
		    	is_show = #{isShow},
		    </if>
		    
		    <if test="createTime != null and !&quot;&quot;.equals(createTime.trim())">
		    	create_time = #{createTime},
		    </if>
		    <if test="createBy != null and !&quot;&quot;.equals(createBy.trim())">
		    	create_by = #{createBy},
		    </if>
		    <if test="updateTime != null and !&quot;&quot;.equals(updateTime.trim())">
		    	update_time = #{updateTime},
		    </if>
		    <if test="updateBy != null and !&quot;&quot;.equals(updateBy.trim())">
		    	update_by = #{updateBy},
		    </if>
		    <if test="remark != null and !&quot;&quot;.equals(remark.trim())">
		    	remark = #{remark},
		    </if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	
	<!-- 根据id获取相应的数据 -->
	<select id="get" resultMap="Menu" parameterType="java.lang.String">
		select
		<include refid="MenuColumns" />
		from sys_menu
		where id = #{id,jdbcType=VARCHAR} 
		and del_flag = 1
	</select>
	<!-- 根据动态条件获取相应的数据 -->
	<select id="getByCondition" resultMap="Menu" parameterType="com.bcdbook.summer.system.pojo.Menu">
		select
		<include refid="MenuColumns" />
		from sys_menu
		<include refid="MenuCondition" />
	</select>
	<!-- 查询(根据实体类条件) -->
	<select id="findList" resultMap="Menu" parameterType="com.bcdbook.summer.system.pojo.Menu">
		select
		<include refid="MenuColumns" />
		from sys_menu
		<include refid="MenuCondition" />
	    order by sort
	    <if test="page != null">
	    	LIMIT #{page.lineStart,jdbcType=INTEGER},#{page.pageSize,jdbcType=INTEGER}
	    </if>
	</select>
	<!-- 查询所有数据 -->
	<select id="findAllList" resultMap="Menu" parameterType="com.bcdbook.summer.system.pojo.Menu">
		select
		<include refid="MenuColumns" />
		from sys_menu where 1=1 
		order by sort
	</select>
	<!-- 根据实体类条件,符合数据的数量 -->
	<select id="count" resultType="java.lang.Integer" parameterType="com.bcdbook.summer.system.pojo.Menu">
		select count(*) from sys_menu
		<include refid="MenuCondition" />
	</select>
	
	<!-- 关联查询,获取栏目子类 -->
	<select id="listChilds" resultMap="Menu" parameterType="java.lang.String">
		select
		<include refid="MenuColumns" />
		from sys_menu
		where parent_id = #{id,jdbcType=VARCHAR}
		and del_flag = 1 
		order by sort
	</select>
	<!-- 关联查询,获取栏目中的权限 -->
	<select id="listPowers" resultMap="com.bcdbook.summer.system.dao.PowerDao.Power" parameterType="java.lang.String">
		select
		<include refid="com.bcdbook.summer.system.dao.PowerDao.PowerColumns" />
		from sys_power
		where menu_id = #{id,jdbcType=VARCHAR}
		and del_flag = 1 
		order by sort
	</select>
	
</mapper>