<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 设置映射的dao类 -->
<mapper namespace="com.bcdbook.summer.system.dao.UserDao">
	<!-- 设置映射的数据模型 -->
	<resultMap id="User" type="com.bcdbook.summer.system.pojo.User">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="del_flag" property="delFlag" jdbcType="INTEGER" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="pwd" property="pwd" jdbcType="VARCHAR" />
		<result column="age" property="age" jdbcType="INTEGER" />
		<result column="gender" property="gender" jdbcType="INTEGER" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="open_id" property="openId" jdbcType="VARCHAR" />
		<result column="addr" property="addr" jdbcType="VARCHAR" />
		<result column="company" property="company" jdbcType="INTEGER" />
		<result column="department" property="department" jdbcType="INTEGER" />
		<result column="position" property="position" jdbcType="INTEGER" />
		<result column="user_type" property="userType" jdbcType="INTEGER" />
		<result column="is_lock" property="isLock" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- 定义查询的所有参数 -->
	<sql id="Base_Column_List">
		id, user_name, pwd,
		age,gender,phone,email,open_id,addr,company,department,position,user_type,is_lock,add_time,update_time,remark
	</sql>
	<!-- 根据用户id查找用户 -->
	<select id="selectById" resultMap="User" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_user
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<!-- 根据用户名userName查找用户 -->
	<select id="selectByName" resultMap="User" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_user
		where user_name = #{userName,jdbcType=VARCHAR}
	</select>
	
	<!-- 根据用户名userName和密码password查找用户 -->	
	<select id="selectByNameAndPassword" resultMap="User" >
		select
		<include refid="Base_Column_List" />
		from t_user
		where user_name = #{userName,jdbcType=VARCHAR} AND 
		pwd = #{password,jdbcType=VARCHAR}
	</select>
	
	<!-- 根据根据主键id 删除用户 -->
	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from t_user
		where id
		= #{id,jdbcType=INTEGER}
	</delete>
	
	<!-- 插入用户信息，暂时不用 -->
	<insert id="insert" parameterType="com.bcdbook.summer.system.pojo.User">
		insert into sys_user (id,
		user_name, pwd,
		age)
		values (#{id,jdbcType=VARCHAR},
		#{userName,jdbcType=VARCHAR},
		#{pwd,jdbcType=VARCHAR},
		#{age,jdbcType=INTEGER})
	</insert>
		
	<!-- 选择性添加开始 -->
	<insert id="insertSelective" parameterType="com.bcdbook.summer.system.pojo.User">
		insert into t_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="pwd != null">
				pwd,
			</if>
			<if test="age != null">
				age,
			</if>
			
			<if test="gender != null">
				gender,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="openId != null">
				open_id,
			</if>
			<if test="addr != null">
				addr,
			</if>
			<if test="company != null">
				company,
			</if>
			<if test="department != null">
				department,
			</if>
			<if test="position != null">
				position,
			</if>
			<if test="userType != null">
				user_type,
			</if>
			<if test="isLock != null">
				is_lock,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			
			<if test="remark != null">
				remark,
			</if>
			
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null">
				#{pwd,jdbcType=VARCHAR},
			</if>
			<if test="age != null">
				#{age,jdbcType=INTEGER},
			</if>
			<if test="gender != null">
				#{gender,jdbcType=INTEGER},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="openId != null">
				#{openId,jdbcType=VARCHAR},
			</if>
			<if test="addr != null">
				#{addr,jdbcType=VARCHAR},
			</if>
			<if test="company != null">
				#{company,jdbcType=INTEGER},
			</if>
			<if test="department != null">
				#{pwd,jdbcType=INTEGER},
			</if>
			<if test="position != null">
				#{position,jdbcType=INTEGER},
			</if>
			<if test="userType != null">
				#{userType,jdbcType=INTEGER},
			</if>
			<if test="isLock != null">
				#{isLock,jdbcType=INTEGER},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<!-- 选择性添加结束 -->	
	
	<!-- 根据传入的user对象所携带的数据，根据id选择性更新user信息-->
	<!-- 选择性更新开始-->	
	<update id="updateByPrimaryKeySelective" parameterType="com.bcdbook.summer.system.pojo.User">
		update t_user
		<set>
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null">
				pwd = #{pwd,jdbcType=VARCHAR},
			</if>
			<if test="age != null">
				age = #{age,jdbcType=INTEGER},
			</if>
			<if test="gender != null">
				gender = #{gender,jdbcType=INTEGER},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="openId != null">
				open_id = #{openId,jdbcType=VARCHAR},
			</if>
			<if test="addr != null">
				addr = #{addr,jdbcType=VARCHAR},
			</if>
			<if test="company != null">
				company = #{company,jdbcType=VARCHAR},
			</if>
			<if test="department != null">
				department = #{department,jdbcType=VARCHAR},
			</if>
			<if test="position != null">
				position = #{position,jdbcType=INTEGER},
			</if>
			<if test="userType != null">
				user_type = #{userType,jdbcType=INTEGER},
			</if>
			<if test="isLock != null">
				is_lock = #{isLock,jdbcType=INTEGER},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
   <!-- 选择性更新结束-->	
	
   <!-- 更新几个基本的user信息，暂时不用。。。-->		
	<update id="updateByPrimaryKey" parameterType="com.bcdbook.summer.system.pojo.User">
		update t_user
		set
		user_name = #{userName,jdbcType=VARCHAR},
		pwd = #{pwd,jdbcType=VARCHAR},
		age = #{age,jdbcType=INTEGER}
		where id =
		#{id,jdbcType=INTEGER}
	</update>
</mapper>