<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 设置映射的dao类 -->
<mapper namespace="com.bcdbook.summer.wechat.dao.WechatMsgDao">
	<!-- 设置映射的数据模型 -->
	<resultMap id="BaseResultMap" type="com.bcdbook.summer.wechat.message.pojo.Message">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="keyword" property="keyword" jdbcType="VARCHAR" />
		<result column="msg_type" property="msgType" jdbcType="VARCHAR" />
		<result column="media_id" property="mediaId" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="add_time" property="addTime" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="music_url" property="musicUrl" jdbcType="VARCHAR" />
		<result column="hq_music_url" property="hqMusicUrl" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 定义查询的所有参数 -->
	
	 <sql id="Base_Column_List">
		id, name, keyword,msg_type,media_id,content,add_time,update_time,remark,title,description,music_url,hq_music_url
	</sql>
	
	<!-- 根据条件查询Message的sql映射 -->
	<select id="selectByCondition" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from t_wx_msg where 1=1 
		<if test="keyword !=null">
			and keyword=#{keyword,jdbcType=VARCHAR}
		</if>
		<if test="name !=null">
			and name=#{name,jdbcType=VARCHAR}
		</if>
		<if test="excludeId !=null">
			and id!=#{excludeId,jdbcType=VARCHAR}
		</if>
		<if test="msgType !=null">
			and msg_type=#{msgType,jdbcType=VARCHAR}
		</if>
	</select>
	<!-- 根据条件分页查询message-->
	<select id="getMsgPageByCondition" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from (SELECT * FROM t_wx_msg WHERE 1=1 
		<if test="typeString !=null">
			and msg_type=#{typeString,jdbcType=VARCHAR}
		</if>  
		<if test="keyword !=null">
			and	keyword like "%"#{keyword,jdbcType=VARCHAR}"%"
		</if>  		
		)t 
		LIMIT #{begin,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
		
	</select>
	<!-- 根据ID查询Message的sql映射 -->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_wx_msg
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<!-- 查询Message的总条数 -->
	<select id="countMsgByConditon" resultType="int">
		select count(*)  from t_wx_msg WHERE 1=1 		
		<if test="typeString !=null">
			and msg_type=#{typeString,jdbcType=VARCHAR}
		</if>  
		<if test="keyword !=null">
			and	keyword like "%"#{keyword,jdbcType=VARCHAR}"%"
		</if>  		 
		
	</select>
	<!-- 添加Message -->
	<insert id="insert" parameterType="com.bcdbook.summer.wechat.message.pojo.Message">
		insert into t_wx_msg (id,name, keyword,
		msg_type,media_id,content,add_time,update_time,remark,title,description,music_url,hq_music_url)
		
		 values (#{id,jdbcType=INTEGER},
		#{name,jdbcType=VARCHAR},
		#{keyword,jdbcType=VARCHAR},
		#{msgType,jdbcType=VARCHAR},
		#{mediaId,jdbcType=VARCHAR},		
		#{content,jdbcType=VARCHAR},
		#{addTime,jdbcType=VARCHAR},
		#{updateTime,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR},
		#{title,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR},
		#{musicUrl,jdbcType=VARCHAR},
		#{hqMusicUrl,jdbcType=VARCHAR})
	</insert>
	
	<!-- 更新Message-->
	<update id="update" parameterType="com.bcdbook.summer.wechat.message.pojo.Message">
		update t_wx_msg
		set
		name = #{name,jdbcType=VARCHAR},
		keyword = #{keyword,jdbcType=VARCHAR},
		msg_type = #{msgType,jdbcType=VARCHAR},
		media_id = #{mediaId,jdbcType=VARCHAR},
		
		content = #{content,jdbcType=VARCHAR},
		add_time = #{addTime,jdbcType=VARCHAR},
		update_time = #{updateTime,jdbcType=VARCHAR},
		remark = #{remark,jdbcType=VARCHAR},
		title = #{title,jdbcType=VARCHAR},
		description = #{description,jdbcType=VARCHAR},
		music_url = #{musicUrl,jdbcType=VARCHAR},
		hq_music_url = #{hqMusicUrl,jdbcType=VARCHAR}
		 where id =
		#{id,jdbcType=INTEGER}
	</update>
	
	<!-- 查询Message列表的sql映射 -->
	<select id="selectAllMsg" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from t_wx_msg		
	</select>
	
	<!-- 根据id删除msg -->
	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from t_wx_msg
		where id
		= #{id,jdbcType=INTEGER}
	</delete>
	
	
</mapper>