extends ./sign.jade

block main
	.content
		.logo
			i.icon.icon-logo
		.input-container
			form(method="get" action="javascript:sign.signerror()")
			.input-block
				input#username.input-box(type="text" data-input-box="input" placeholder="请输入用户名" autocomplete="off")
				a.delete.hide(data-text-delete="delete")
					i.icon.icon-delete3

			.input-block
				input#password.input-box(type="password" data-input-box="input" placeholder="请输入密码")
				a.delete.hide(data-text-delete="delete")
					i.icon.icon-delete3

			.input-block
				input#password-again.input-box(type="password" data-input-box="input" placeholder="请再次输入密码")
				a.delete.hide(data-text-delete="delete")
					i.icon.icon-delete3

			input.button.button-primary.button-rounded.mobile-button(type="submit" value="注册" data-signup-button="signup" disabled)

		.tips
			a(href="signin.jade") 已有系统账号？去登录