<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans.xsd">
   <!-- 定时器的相关配置 -->
	<!-- 定义处理业务的类 -->
	<bean id="WechatSettime" class="com.bcdbook.summer.common.settime.WechatSettime" />
	
	<!-- 配置所执行的方法的细节 -->
	<!-- 微信用来获取accessToken的定时器执行细节 -->
	<bean id="refreshAccessToken" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 执行的类(映射) -->
		<property name="targetObject" ref="WechatSettime" />
		<!-- 执行的方法 -->
		<property name="targetMethod" value="refreshAccessToken" />
		<!-- 实例化后是否立即执行 -->
		<property name="concurrent" value="false" />
	</bean>
	<!-- 微信用来刷新素材的定时器执行细节 -->
	<bean id="refreshMaterial" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 执行的类(映射) -->
		<property name="targetObject" ref="WechatSettime" />
		<!-- 执行的方法 -->
		<property name="targetMethod" value="refreshMaterial" />
		<!-- 实例化后是否立即执行 -->
		<property name="concurrent" value="false" />
	</bean>
	
	<!-- 获取accessToken的定时器的执行时间配置 -->
	<bean id="refreshAccessTokenSettime" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
		<!-- see the example of method invoking job above -->
		<!-- 映射执行的方法 -->
		<property name="jobDetail" ref="refreshAccessToken" />
		<!-- 10 seconds -->
		<!-- 首次执行的时候推辞的时间(时间均已毫秒计算) -->
		<!-- 每隔15分钟执行一次 -->
		<!-- <property name="repeatInterval" value="900000" /> -->
		<property name="repeatInterval" value="900000" />
	</bean>
	<!-- 刷新素材的定时器的执行时间配置 -->
	<bean id="refreshMaterialSettime" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
		<!-- see the example of method invoking job above -->
		<!-- 映射执行的方法 -->
		<property name="jobDetail" ref="refreshMaterial" />
		<!-- 首次执行的时候推辞5分钟时间(时间均已毫秒计算) -->
		<property name="startDelay" value="300000" />
		<!-- 每隔两小时执行一次 -->
		<property name="repeatInterval" value="7200000" />
	</bean>

	<!-- 总调度用于启动Spring定时器 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="refreshAccessTokenSettime" />
				<ref bean="refreshMaterialSettime" />
			<!-- 
				<ref bean="cornTrigger" />
				<ref bean="simpleTrigger" />
				 -->
			</list>
		</property>
	</bean>
	
    <!-- 
	    0 0 10,14,16 * * ? 每天上午10点，下午2点，4点 
		0 0/30 9-17 * * ? 朝九晚五工作时间内每半小时 
		0 0 12 ? * WED 表示每个星期三中午12点 
		"0 0 12 * * ?" 每天中午12点触发 
		"0 15 10 ? * *" 每天上午10:15触发 
		"0 15 10 * * ?" 每天上午10:15触发 
		"0 15 10 * * ? *" 每天上午10:15触发 
		"0 15 10 * * ? 2005" 2005年的每天上午10:15触发 
		"0 * 14 * * ?" 在每天下午2点到下午2:59期间的每1分钟触发 
		"0 0/5 14 * * ?" 在每天下午2点到下午2:55期间的每5分钟触发 
		"0 0/5 14,18 * * ?" 在每天下午2点到2:55期间和下午6点到6:55期间的每5分钟触发 
		"0 0-5 14 * * ?" 在每天下午2点到下午2:05期间的每1分钟触发 
		"0 10,44 14 ? 3 WED" 每年三月的星期三的下午2:10和2:44触发 
		"0 15 10 ? * MON-FRI" 周一至周五的上午10:15触发 
		"0 15 10 15 * ?" 每月15日上午10:15触发 
		"0 15 10 L * ?" 每月最后一日的上午10:15触发 
		"0 15 10 ? * 6L" 每月的最后一个星期五上午10:15触发 
		"0 15 10 ? * 6L 2002-2005" 2002年至2005年的每月的最后一个星期五上午10:15触发 
		"0 15 10 ? * 6#3" 每月的第三个星期五上午10:15触发
     -->
	<!-- *********************************************定时器配置结束*********************************************** -->
	
</beans>