//- 此jade文件中集合了项目中所有的模态框




//- 栏目的添加/编辑模态框开始

#addMenuModal.modal.fade.bs-example-modal-sm(aria-hidden="true")
	.modal-dialog.modal-sm
		form#menu_modal_form.modal-content.modal-container(action="javascript:imenu.addOrEditMenu()")
			.modal-title 栏目添加/编辑
			.menu-modal-input.page-form
				label.input-tips(for="foreground_or_back") 前台/后台
				input#foreground_or_back.form-control(type="text" value='2' name="foregroundOrBack" readonly)
				label.error-msg-label(for="foreground_or_back")
			.menu-modal-input.page-form
				label.input-tips(for="menu_id") 栏目ID
				input#menu_id.form-control(type="text" name="menuId" readonly)
				label.error-msg-label(for="menu_id")
			.menu-modal-input.page-form
				label.input-tips(for="menu_will_todo") 执行的操作
				input#menu_will_todo.form-control(type="text" name="menuWillTodo" readonly)
				label.error-msg-label(for="menu_will_todo")
			.menu-modal-input.page-form
				label.input-tips(for="menu_laver") 栏目级别
				input#menu_laver.form-control(type="text" name="menuLaver" readonly)
				label.error-msg-label(for="menu_laver")
			.menu-modal-input.page-form
				label.input-tips(for="menu_parent_id") 父级ID
				input#menu_parent_id.form-control(type="text" name="menuParentId" readonly)
				label.error-msg-label(for="menu_parent_id")
			.menu-modal-input.page-form
				label.input-tips(for="menu_sort") 栏目顺序
				input#menu_sort.form-control(type="text" name="menuSort" readonly)
				label.error-msg-label(for="menu_sort")
			.menu-modal-input.page-form
				label.input-tips(for="menu_name") 栏目名称
				input#menu_name.form-control(type="text" name="menuName")
				label.error-msg-label(for="menu_name")
			.menu-modal-input.page-form
				label.input-tips(for="menu_icon") 栏目图标
				input#menu_icon.form-control(type="text" name="menuIcon")
				label.error-msg-label(for="menu_icon")
			.menu-modal-input.page-form
				label.input-tips(for="menu_permission") 权限标识
				input#menu_permission.form-control(type="text" name="menuPermission")
				label.error-msg-label(for="menu_permission")
			.menu-modal-input.page-form
				label.input-tips(for="menu_href") 连接地址
				input#menu_href.form-control(type="text" name="menuHref")
				label.error-msg-label(for="menu_href")
			.menu-modal-input.page-form.input-textarea
				label.input-tips(for="menu_description") 栏目简介
				textarea#menu_description.form-control(type="text" name="menuDscription")
				label.error-msg-label(for="menu_description")
			.menu-modal-input.page-form.input-radio
				label.input-tips 是否显示
				label(for="show")
					input(name="isShow" type="radio" value="1" checked)
					| 是
				label(for="hide")
					input(name="isShow" type="radio" value="2")
					| 否
				label.error-msg-label
			.button-box
				button.button.button-primary.modal-button 提交
				button.button.modal-button(data-dismiss="modal") 关闭

