//- 框架样式引入
//- bootstrap基础样式
link(rel='stylesheet',type='text/css',href='/libs/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet',type='text/css',href='/css/base/buttons.css')
//- 引入阿里的图标
link(rel='stylesheet',type='text/less',href='/iconfont/iconfont.css')

//- 引入图标
link(rel='shortcut icon',href='/img/logo32.png')
//- 自设定样式的引入
link(rel='stylesheet',type='text/less',href='/css/signin_up.less')

//- 框架js文件的引入
//- jquery文件
script(type='text/javascript',src='/libs/jquery/dist/jquery.min.js')
//- jquery-ui文件
//- script(type='text/javascript',src='/libs/jquery-ui/jquery-ui.min.js')
//- bootstrap主js文件
//- script(type='text/javascript',src='/libs/bootstrap/dist/js/bootstrap.min.js')
//- less编译的js文件
script(type='text/javascript',src='/libs/less/dist/less.min.js')

//- 引入自设定的js文件
script(type='text/javascript',src='/js/util.js')
script(type='text/javascript',src='/js/main.js')
script(type='text/javascript',src='/js/verify.js')
script(type='text/javascript',src='/js/signin_up.js')