h4.page-title 栏目管理
.page-second-title-content
    ul.tab-navs
        li.tab-nav.checked
            a(href="javascript:void(0)") 后台栏目
        li.tab-nav
            a(href="javascript:void(0)") 前台栏目
            
.body-menus-count
    .au-menu-count
        .page-thired-title 栏目管理