extends ./common/includes/layout.jade
block content
    //- 头部页面块
    .viewFramework-topbar
        .view-top-cont
            .top-logo-box
                a.logo-href(href="")
                    i.logo-icon.icon.icon-logo
                    span.logo-title.hover-default 业务·管理平台

            .top-menu-box

            .top-user-box(style="padding-top:25px") 没有账号？
                a.to-signin(href="signup") 请注册

    //- body部分页面块
    .viewFramework-body
        .sign-body-cont
            .sign-content-box
                .left-pic
                    img(src="#{staticCtx}/pc/imgs/left_pic.png" alt="left_pic")
                .sign-form.right-form
                    .form-title 用户登录
                    form#signin_form.form-horizontal(method="get" action="javascript:sign.signin()")
                        .page-form.beaut-form-box
                            label.control-label(for="userName") 用户名
                            input#userName.form-control(data-form-control="beaut-control" type="text" name="userName")
                            label.error-msg-label(for="userName")
                        .page-form.beaut-form-box
                            label.control-label(for="pwd") 密码
                            input#pwd.form-control(data-form-control="beaut-control" type="password" name="pwd")
                            label.error-msg-label(for="pwd")
                        input.button.button-primary.button-rounded.prebutton.sure-button(type="submit" value="提交")
                    
                            

    //- 脚部页面块
    .viewFramework-footer
        include ./common/includes/footer.jade
        
    script(type='text/javascript',src='#{staticCtx}/pc/js/system/sign.js')
