extends ./common/includes/layout.jade
block content
    //- 头部页面块
    .viewFramework-topbar
        include ./common/includes/signup-top.jade

    //- body部分页面块
    .viewFramework-body-sign
        .sign-body-cont
            .sign-content-box
                .sign-container.signin-form-container
                    img(src="#{staticCtx}/pc/imgs/register_left_pic.png" alt="signin-pic")
                    .sign-form.signin-form
                        .form-title 用户注册
                        form#signup_form.form-horizontal(method="get" action="javascript:sign.signup()")
                            .page-form.beaut-form-box
                                label.control-label(for="signupUserName") 用户名
                                input#signupUserName.form-control(data-form-control="beaut-control" type="text" name="signupUserName")
                                label.error-msg-label(for="signupUserName")
                            .page-form.beaut-form-box
                                label.control-label(for="pwd") 密码
                                input#pwd.form-control(data-form-control="beaut-control" type="password" name="pwd")
                                label.error-msg-label(for="pwd")
                            .page-form.beaut-form-box
                                label.control-label(for="confirmPwd") 验证密码
                                input#confirmPwd.form-control(data-form-control="beaut-control" type="password" name="confirmPwd")
                                label.error-msg-label(for="confirmPwd")
                            input.button.button-primary.button-rounded.prebutton.sure-button(type="submit" value="提交")
                            

    //- 脚部页面块
    .viewFramework-footer
        include ./common/includes/footer.jade
        
    script(type='text/javascript',src='#{staticCtx}/pc/js/system/sign.js')
