script(type='text/javascript',src='#{staticCtx}util/isort.js')
each role,index in power
.au-role-count
	.page-third-title 
		| 权限管理
		span.menu-tools-cont
			a.menu-tools-box
				i.icon.icon-add.hover-primary
			a.menu-tools-box(href="javascript:void(0)" data-flex-icon="flex")
				i.icon.icon-move.hover-warning
	.au-role-boxes.menu-content
		.au-role-box
			a.role-text
				i.icon.icon-add.role-icon
			a.role-code(href="javascript:void(0)")
			a.role-info 用户添加权限
			span.menu-tools-cont
				a(href="javascript:void(0)")
					i.icon.icon-edit.hover-warning
				a.handle.hide(href="javascript:void(0)")
