h4.page-title 栏目管理
.page-second-title-content
	ul.tab-navs
		li.tab-nav.checked
			a(href="javascript:void(0)") 前台栏目
		li.tab-nav
			a(href="javascript:void(0)") 后台栏目
.body-menus-count
	.au-menu-count
		.page-third-title 栏目管理
			span.menu-tools-cont
				a.menu-tools-box.first-add(href="javascript:void(0)")
					i.icon.icon-add.hover-primary
				a.menu-tools-box(href="javascript:void(0)" data-flex-icon="flex")
					i.icon.icon-move.hover-warning
		#menu-cont.sidebar-cont.menu-content(data-cont="menu-cont")
			include ./au_list.jade