doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title 邮箱验证
		style.
			.base{
				height:100%;
				padding:150px;
				background-color:#eee;
				font-size:14px;
				overfloe:hidden;
				color:#434343;
				font-size:14px;
				}
			.main-table{
				width:600px;
				margin:0 auto;
				background-color:#fff;
				font-family:"Arial","Microsoft YaHei","黑体","宋体",sans-serif;
				}
			.title{
				height:60px;
				background-color:#363636;
				color:#fff;
				}
			.title-content{
				font-size:1.3em;
				padding-left:12px;
				}
			.logo{
				width:64px;
				padding-left:20px;
				text-align:right;
				}
			.content{
				font-size:14px;
				}
			h4{
				line-height:40px;
				margin:10px 20px 20px;
				border-bottom:1.5px solid #dedede;
				text-indent:1em;
				font-weight:200;
				font-size:14px;
				}
			p{
				margin:0 -10px;
				padding:0 60px;
				line-height:24px;
				margin-bottom:25px;
				font-size:14px;
				}
			.a-conect,.click,.email,a:link{
				text-decoration:none;
				color:#56b6ea;
				word-wrap:break-word;
				word-break:break-all;
				font-size:14px;
				}
			a:hover{
				text-decoration:underline;
				}
	body
		div.base
			table.main-table(cellspacing="0" cellpadding="0")
				tbody
					tr.title
						td.logo
							img(src="#{staticCtx}/pc/imgs/logo64_w.png" alt="logo")
							td.title-content bcdbook
					tr.content
						td(colspan="2")
								h4 邮箱验证
								p 
									| 本邮件用于bcdbook的邮箱验证，请
									span.a-conect
										a.click(href="#" class="click") 点击这里
									| 进行验证，验证后将能更好的使用本系统的功能。
									br
									| 若点击无效，请复制下方按钮，并在浏览器中打开
								p
									span.a-conect
										a(href="#" class="email") http://www.bcdbook.com/mail/verify?userid=57282fecc2860566612c9d69&usermail=lixian13149999@163.com&mail_token=bdb5f219-558d-43eb-8aec-2101a285012f
								p 若此验证不是您本人操作，请忽视...