h2.main_hd_notap 公司&部门
.inner_body#inner_box
	.edit_company_box
		.company_box
			span.menu_title_tab 公司编辑
				span.column_icon_span
					i.iconfont.hover_primary.default_color.add_company_modal.icon-class-add
					i.iconfont.hover_warning.default_color.icon-class-tuodong1#company_handle_contorler
			#company_au_container_box
				include au_list.jade
	.edit_departs_box
		.departs_box
			span.menu_title_tab 部门编辑
				span.column_icon_span
					span.hide_datas#au_depart_hide_datas(data-para-mid='57061bb4bbc48b3f0aade88b')
					i.iconfont.hover_primary.default_color.add_depart_modal.icon-class-add(data-toggle="modal" data-target=".au_menu")
					i.iconfont.hover_warning.default_color.icon-class-tuodong1
			#company_depart_container_box
