.view-top-cont
            .top-logo-box
                a.logo-href(href="/")
                    i.logo-icon.icon.icon-logo
                    span.logo-title.hover-default 业务·管理平台

            .top-menu-box

            .top-user-box(style="padding-top:25px") 已有账号？
                a.to-signin(href="signin") 请登录