.view-top-cont
    .top-logo-box
        a.logo-href(href="javascript:void(0)")
            i.logo-icon.icon.icon-logo
            span.logo-title.hover-default 业务·管理平台
    .top-menu-box
    .top-user-box
        a.tools-icon.tools-message(href="javascript:void(0)")
            i.icon.icon-message.hover-default
        span#top_icon_wechat_barcode(data-para-barcode="#{staticCtx}/pc/imgs/wechat_2d_barcode.jpg")
        a.tools-icon.tools-wechat(data-toggle="prompt-cont" data-content-func-mapping="itop.getWechatBarcode" href="javascript:void(0)")
            i.icon.icon-wechat.hover-default
        .user-photo-cont
            span#top_user_info_hide_datas(data-para-_id="id" data-para-username="lixian13149999@163.com" data-para-realname="李显" data-para-photo="#{staticCtx}/pc/imgs/user.png" data-para-position="position" data-para-email="lixian13149999@163.com" data-para-phone="phone}" data-para-depart_remark="产品技术部")
            a.user-photo(data-toggle="prompt-cont" data-content-func-mapping="itop.getUserIntd" href="javascript:void(0)" style="background-image:url('#{staticCtx}/pc/imgs/user.png')")